body
{
    background-image: url(image.jpg) ;
    background-size: 100%;
    background-attachment: fixed;
}
.regi
{
    background-color: rgb(230, 196, 196,0.8);
    width: 720px;
    backdrop-filter: blur(3px);
    padding: 20px 0 20px;
    margin-left: 420px;
    margin-top: 20px;
    
}

h1{
    display: inline-block;
    width: 500px;
    }

.title
{
    text-align: center;
    color: rgb(246, 246, 249);
    background-color: rgb(116, 116, 237);
    height: 40px;
    margin-top: 0px;
    border-radius: 10px;
    margin-left: 5px;
    
}
.name{
    color: blue;
    font-weight: bold;
    margin: 20px;
    
}

.bt
{
    background-color: rgb(131, 131, 44);
    color: black;
    width: 200px;
    text-align: center;
    font-size: 15px;
    padding: 10px;
    border-radius: 15px;
    border: 1px inline blue;
    margin-left: 70px;
    margin-top: 20px;
}
.bt:hover{
    color: white;
    background-color: green;

}
.input{
    width: 400px;
    height: 30px;
    border-radius: 10px;
}

.out{
    background-color: rgb(230, 196, 196,0.8);
    width: 720px;
    backdrop-filter: blur(3px);
    
    margin-left: 420px;
    margin-top: 20px;
   
      }
      
.out td, .out th {
        border: solid #190404;
        padding: 6px;
      }
.out tr:nth-child(even){background-color: #f2f2f2;}

.out tr:hover {background-color: #ddd;}

.out th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #053624;
  color: white;
}

.btu{
    background-color: rgb(11, 161, 0);
    color: black;
    width: 70px;
    font-size: 10px;
    border-radius: 15px;
    border: 1px inline blue;

}
.btb{
    background-color: rgb(131, 131, 44);
    color: black;
    width: 70px;
    font-size: 10px;
    border-radius: 15px;
    border: 1px inline blue;
}
